<html>
<head>
	<title>WebApp-Vulnscan :: Report</title>
	<link rel='stylesheet' type='text/css' href='./main.css'>
	<script type='text/javascript'></script>
</head>
<body>
	<div id='masthead'>
		<h1>chris-allen-lane.com</h1>
		<h2>Source Code Audit (Generated DD/MM/YYYY)</h2>
	</div>

	<div id='column_nav'>
		Payloads
		<ul>
			<li class='php'>PHP
				<ul>
					<li><code>require_once</code></li>
					<li><code>require</code></li>
					<li><code>include_once</code></li>
					<li><code>include</code></li>
				</ul>
			</li>
			<li class='js'>JS
				<ul>
					<li><code>eval</code></li>
					<li><code>eval</code></li>
					<li><code>etc</code></li>
				</ul>
			</li>
		</ul>
	</div>

	<div id='column_content'>
		<h2>PHP</h2>
		<h3><code>require_once</code></h3>
		<div class='point_of_interest'>
			<span class='filename'>Filename</span>
			<span class='line_number'>45</span>
			<span class='snippet'><code>The snippet goes here</code></span>
		</div>
	</div>


</body>
</html>
